body {
    background-color: #c20303;
}

#particles-js {
    position: absolute;
    width: 100%;
    top: 50px;
}

.card {
    color: white;
    background: rgb(82 29 29 / 24%);
    max-width: 540px !important;
    height: 200px !important;
    border-radius: 0;
}

.card:hover {
    background: rgb(82 29 29 / 74%);
}

.card-title {
    font-weight: bold !important;
}

.text-muted {
    color: #c5c5c5 !important;
    font-weight: bold;
}

.poster {
    width: 100%;
}

.text-type {
    text-transform: capitalize;
}

.btn-success {
    z-index: 1;
}

#sendData {
    display: none;
}

@media screen and (min-width: 900px) {
    .poster {
        height: 198px;
    }
}

@media screen and (max-width: 899px) {
    .poster {
        height: 320px;
    }
    .card {
        height: auto !important;
    }
}